<div class="grid">
  <% @cocktails.each do |cocktail| %>
  <a href="#" class="cocktail" style="background-image:
                                        linear-gradient(rgba(0,0,0,0.3),
                                        rgba(0,0,0,0.3)),
                                        url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
    <span class="card-title"><%= cocktail.name %></span>
  </a>
  <% end %>
</div>
