<div class="grid">
  <% @cocktails.each do |cocktail| %>
  <a href="/cocktails/<%= cocktail.id %>" class="cocktail" style="background-image:
                                        linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                                        url('<%= cl_image_path cocktail.photo.key, height: 600, width: 824, crop: :fill %>')">
    <span class="card-title"><%= cocktail.name %></span>
  </a>
  <% end %>
</div>
