<div class="grid">
  <div class="about">Rails Cockttails, the place to store <em>all your cocktails</em>.<br>
    <br>
     Actually, <strong>you can</strong> add new cocktails and doses.
  </div>
  <% @cocktails.each do |cocktail| %>
  <a href="/cocktails/<%= cocktail.id %>" class="cocktail" style="background-image:
                                        linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                                        url('<%= cl_image_path cocktail.photo.key, height: 600, width: 824, crop: :fill %>')">
    <span class="card-title"><%= cocktail.name %></span>
  </a>
  <% end %>
</div>
