.card {
  transition-duration: 120ms;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  img {
    opacity: 0.85;
  }
  .card-body{
    padding-bottom: 0;
  }
}

.card:hover {
  transform:scale(1.025);
}
.card:hover {
  a {
    overflow: hidden;
  }
  img {
    opacity: 1;
    transform:scale(1.05);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

  }
}

// .cocktail-card:first-child {
//   grid-column: 1/3;
//   grid-row: 1/3;
// }

// .cocktail-card:nth-child(6) {
//   grid-column: 1/3;
//   grid-row: 1/3;
// }
